@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vollkorn';
  src: local('Vollkorn'), url(./fonts/Vollkorn/Vollkorn-Medium.ttf) format('truetype');
}

.font-vollkorn {
  font-family: 'Vollkorn', serif;
}